.flex-container {
    display: flex;
    justify-content: center;
    position: sticky;
    padding: 5px;
    top: 0;
    margin: auto 400px;
    background-color: lightcoral;
}

body {
    background-color: lightblue;
}

input[type=text] {
    width: 100px;
    border-radius: 1px;
    margin: 2px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

label {
    display: inline-block;
    width: 64px;
}

.logo {
    width: 70px;
    height: 70px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px #999 inset;
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: chartreuse;
    align-items: center;
}

.logoInside {
    width: 25px;
    height: 25px;
    border-radius: 20%;
    align-self: center;
}

.logoInsideLeft {
    background-color: #fe0000;
    border: 1px solid red;
    margin-left: 2px;
}

.logoInsideRight {
    background-color: blue;
    border: 1px solid blue;
    margin-right: 2px;
}

#logoInsideLeft {
    width: 25px;
    height: 25px;
    background-color: #fe0000;
    border: 1px solid red;
    border-radius: 20%;
    align-self: center;
    margin-left: 2px;
}

#logoInsideRight {
    width: 25px;
    height: 25px;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 20%;
    align-self: center;
    margin-right: 2px;
}

div.loginStyle {
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 150px auto;
    align-items: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}